.contacto {
  fieldset {
    display: flex;
    flex-direction: column;
    align-content: center;
   

    input {
      height: 50px;
    }
  }
}

.boton {
  min-width: 100px;
  display: flex;
justify-content: center;
}

@media (min-width: 1000px) {
  .contacto {
    fieldset {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}
