
.body {
    background-color: rgb(240, 240, 240);
  }

  footer{
  background-color: #fff;
    
    
    i{
      font-size: 30px;
      margin: 5%;
     


    }
    i:hover{
      color: blue;
    }
  

  }