
nav {
    a {
      img {
        width: 100px;
        background-image: linear-gradient(
          to left,
          rgb(244, 108, 108),
          rgb(98, 98, 248)
        );
        border-radius: 150px;
      }
    }
  }                                                     